# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdata
*.xccheckout
*.xcscmblueprint
.swiftpm/
.build/

# Common Editor Files
*.swp
*~
.vscode/

# System Files
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
